.profile {
  .section-header {
    background-image: url('../../assets/about-chauffeur.5cda81cdee5f57afd531.png');
  }
    .ant-form-item-control-input-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .container {
    .card-profile {
      margin-top: 80px;
      margin-bottom: 80px;
      .title-card {
        align-items: center;
        color: #294151;
        display: flex;
        font-size: 4rem;
        font-weight: 600;
        gap: 12px;
        justify-content: center;
        letter-spacing: 0.48px;
        line-height: 1.63;
        margin-bottom: 3rem;
        text-align: center;
        text-transform: capitalize;
      }
      .form-profile {
        margin: 0 30px;
        padding: 0 30px;
        display: flex;
        gap: 20px;
        justify-content: center;
        position: relative;
        .upload {
          width: 300px;
          .ant-upload,
            .ant-col,
            .ant-row,
            .ant-form-item {
            width: 100%;
          }
          .ant-upload-list {
            align-items: center;
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: center;
          }
        }
        .form-item {
          width: 100%;
        }
      }
    }
  }
  .btn-submit {
    width: 250px;
    height: 45px;
    margin: 20px auto;
    box-shadow: none !important;
  }
  .checkbox-list-wrapper {
    .ant-checkbox-group {
      gap: 12px;
    }
    .ant-checkbox-wrapper {
      height: 35px;
      padding: 7px 12px 8px 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background: var(--system-bg, #f5f6f7);
      color: var(--primary-dark-grey, #484c52);
      font-size: 14px;
      font-weight: 700;
      gap: 8px;
      line-height: 12px;
      position: relative;
      .ant-checkbox-inner {
        display: none;
      }
      &.ant-checkbox-wrapper-checked {
        // font-weight: 700;
        color: var(--primary-text, #6d29f6);
        background-color: rgba(109, 41, 246, 0.1);
      }
    }
  }
  @media (max-width: 768px) {
    .ant-card-body {
      padding: 20px 0;
    }
    .title-card{
      font-size: 2.5rem !important;
    }
    .container{
      padding: 0 10px !important;
    }
    .form-profile {
      flex-direction: column;
      gap: 10px;
      padding: 0 !important;
      .upload {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        .ant-form-item {
          width: 100%;
          height: auto !important;
        }
        .ant-upload-list {
          align-items: center;
          display: flex;
          flex-wrap: wrap-reverse;
          justify-content: center;
        }
      }
      .form-item {
        width: 100%;
      }
      .btn-submit {
        width: 100%;
      }
    }
  }
}
