@import '../../../styles/variables';

.services-section {
  padding: 100px 0px;
  background-color: $black-900;
  color: $white;

  // =============
  // Section Title
  // =============
  .title {
    margin-bottom: 50px;
    .heading-wrapper {
      position: relative;
      z-index: 1;
      width: fit-content;

      h2 {
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    h3 {
      font-size: 2.5rem;
      color: $black-500;
      margin-top: 5px;
      color: $red-100;
      position: relative;
      z-index: 10;
    }
  }

  // ===================
  // Section Description
  // ===================
  .info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;

    img {
      width: 100px;
    }

    .box {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h4 {
        font-size: 1.8rem;
        font-weight: 700;
        padding-top: 15px;
        color: $white;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .services-section{
    padding: 50px 0px;

    .title{
    text-align: center;
    .heading-wrapper{
      margin: 0 auto;
      .two-line-shape {
        width: 40% ;
        left: 5px ;
      }
    }
  }
    .info{
      .box{
        padding: 15px 10px;
        img{
          width: 85px !important;
        }
        p{
          font-size: 1.2rem !important;
          max-width: 300px !important;
          text-align: center !important;
          margin: 0 auto !important;
        }
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .services-section{
    .two-line-shape{
      width: 35% !important;
      left: 100px !important;
      top: 10px !important;
    }
  }
}
