$primary-color: #ff7d7d;
$secondary-color: #fd7304;
$white: white;
$black: black;

// Shades Colors
$red-100: #fefcfc;
$red-200: #f6d6d6;
$red-300: #f6acac;
$red-400: #ff7d7d;
$red-500: #ee6868;
$red-600: #db5959;
$red-700: #c64f4f;
$red-800: #b04a4a;
$red-900: #954b4b;

$pink-100: #f9eced;
$pink-200: #f0b6bd;
$pink-300: #e9889f;
$pink-400: #ec7f87;
$pink-500: #fc5c6f;
$pink-600: #e93d52;
$pink-700: #d34650;
$pink-800: #b57f7b;
$pink-900: #9e6074;

$blueSky-100: #acc9cd;
$blueSky-200: #92bec5;
$blueSky-300: #76b8c2;
$blueSky-400: #57b6c4;
$blueSky-500: #35b9cd;
$blueSky-600: #1db6ce;
$blueSky-700: #06b4cf;
$blueSky-800: #1795a8;
$blueSky-900: #227c8a;

$purple-100: #c0b3c1;
$purple-200: #b29eb4;
$purple-300: #a88aaa;
$purple-400: #9f75a2;
$purple-500: #9a609e;
$purple-600: #925097;
$purple-700: #8c4191;
$purple-800: #78427b;
$purple-900: #67406a;

$gray-100: #6e747a;
$gray-200: #545e68;
$gray-300: #49555f;
$gray-400: #404e59;
$gray-500: #354852;
$gray-600: #2f4551;
$gray-700: #2a3e4e;
$gray-800: #293b47;
$gray-900: #272f38;

$black-100: #2c2e30;
$black-200: #28292c;
$black-300: #242528;
$black-400: #202225;
$black-500: #1c1f23;
$black-600: #191c20;
$black-700: #16191e;
$black-800: #15171a;
$black-900: #131517;
