@import '../../styles/variables';

.header {
  a.link-tab.active {
    color: $primary-color;
  }
}
.servicesItem {
  color: $black-500;
  &.link-tab.active {
    color: $primary-color;
  }
}

:where(.css-dev-only-do-not-override-mib3gt).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item {
  padding: 0px;
}
