@import '../../styles/variables';

.header {
  a.link-tab.active {
    color: $primary-color;
  }
  .active-link-header{
    color: #000;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    button{
      background: #fff;
      color: #000 !important;
    }
  }
  
}

.servicesItem {
  color: $black-500;
  &.link-tab.active {
    color: $primary-color;
  }
}

.overlay-services-dropdown .ant-dropdown-menu-item,
.overlay-services-dropdown .ant-dropdown-menu-submenu-title {
  padding: 0 !important;
}

.btn-ant-custom-hover-styles-logOut {
  border-width: 2px;
  border-style: solid;
}

.btn-ant-custom-hover-styles-logOut:hover {
  border-color: $primary-color;
  background-color: transparent !important;
}

.btn-ant-custom-hover-styles:hover {
  color: $black-800 !important;
  background-color: $white !important;
  translate: color 0.3s;
}
