@import '../../styles/variables';

.layout {
  min-height: 100vh;
  .main-header {
    background-color: $black-800;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      width: 100%;
      .logo {
        font-size: 24px;
        font-weight: 700;
        a {
          color: $white;
        }
      }
      .links {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      a {
        color: $white;
        font-size: 18px;
        letter-spacing: 0.14px;
        text-transform: capitalize;
        transition: 0.2s linear;
        white-space: nowrap;
      }
      .login {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 100%;
        gap: 10px;
        background: transparent;
      }
    }
  }
  .mobile{
    display: none;
  }
  @media screen and (max-width: 992px) {
    .mobile{
      display: block;
      margin: 0 5px;
    }
    .main-header {
      .header {
        .link-res,
        .links {
          display: none;
        }
      }
    }
  }
}
