@import '../../../styles/variables';

.blogs-details {
  padding: 50px 200px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .ant-image {
    width: 100%;
    background: $blueSky-900;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-radius: 8px;
  }
  img {
    height: 400px !important;
    width: 80% !important;
    object-fit: cover;
    border-radius: 8px;
  }
  h1 {
    text-align: start;
    width: 100%;
    margin: 20px 10px 10px;
    font-size: 3.25rem;
    font-weight: 700;
    color: $red-700;
  }
  .des {
    section {
      padding: 10px 0px 20px;
    }
    h2 {
      font-size: 3rem;
      font-weight: 700;
    }
    p {
      font-size: 1.9rem;
      line-height: 1.5em;
      color: $gray-500;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    ul {
      list-style: disc;
      padding-left: 50px;
      padding-right: 50px;
      margin: 15px auto 5px;

      li {
        margin: 10px auto;
        font-size: 1.8rem;
      }
    }
  }
  .auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-size: 20px;
      font-weight: 700;
      span {
        font-weight: 400;
        color: $blueSky-900;
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding: 20px;
    .ant-image {
      background: transparent !important;
    }
    img {
      width: 100% !important;
      height: 300px !important;
      object-fit: cover;
    }
    .des {
      p {
        font-size: 16px;
      }
    }
    h1 {
      font-size: 18px;
    }
    .auth {
      h3 {
        font-size: 18px;
        span {
          font-size: 16px;
        }
      }
    }
  }
}
