.blogs-details{
    .ant-image{
        width: 100%;
    }
    h1{
        margin: 5px;
        font-size: 20px;
        font-weight: 700;
    }
    p{
        margin: 5px;
        padding: 10px;
        
    }
}