* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body{
//   background-color: #f8f8f8;
// }

.section-header {
  padding: 20px 70px;
  background-color: #8c4191;
  // background-blend-mode: multiply;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  .title {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
  }
  .link {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}



.ant-skeleton-image{
    width: 100% !important;
    height: 200px !important;
}

.login-form-button-google{
  width: 100%;
  background-color: #4096FD !important;
  color: #fff !important;
  border: 1px solid #4096FD !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.hero-btn{
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 0.7em 1.6em;
  font-size: 1.7rem;
  font-weight: 600;
}
.ant-skeleton.ant-skeleton-element{
  width: 100% !important;
  .ant-skeleton-image{
    width: 100% !important;
  }
}
@media screen and (max-width: 992px) {
    .admin-link {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .ant-layout-header {
    padding: 0 !important;
  }
  .section-header{
    padding: 20px;
    height: 180px;
    .title{
      font-size: 20px;
    }
    .link{
      font-size: 14px;
    }
    
  }
}